<% layout("/layouts/boilerplate") %>
<body>
    <h2 >All Listings </h2>
    
    <% for (let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>"><%= listing.title %></a>    
        <br>
    <% } %> 

    <!-- <form method ="GET"  action="/listings/new">
        <button>create new Lisitng</button>
    </form> -->
    
</body>
