.navbar{
    height: 5rem;
    background-color: white;

}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link   {
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info {
    display: flex;
    flex-direction: column;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.f-info-socials i {
    margin-right: 1rem;
}
.f-info-socials .f-info-links {
    font-size: 1.5rem;
}